.main {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2rem 4rem;
}

.container {
    width: 100%;
    margin: 2.5rem 0;
    padding: 0 0 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2.25rem;
    
    @media (max-width: 450px) {
        grid-template-columns: 1fr;
    }
}

.disclaimer {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 24px;
    border-radius: 50px;
    width: 90%;
    background-color: #fff;
    max-width: max-content;
    color: #2b2b2b;
    text-align: center;
    z-index: 10;

    svg {
        position: relative;
        top: 2px;
    }
}